altgraph==0.17
attrs==20.3.0
certifi==2020.12.5
iniconfig==1.1.1
macholib==1.14
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pyparsing==2.4.7
pytest==6.2.3
PyYAML==5.4.1
sh==1.14.1
toml==0.10.2
-e .
